


<p>Rectangles hanbars</p>
{{#each model as |item|}}
  <p>It wid{{item.width}}</p>
{{/each}}
{{#link-to "rectangles.new"}}Новый прямоугольник{{/link-to}}
{{#link-to "rectangles"}}Ghzvоугльники{{/link-to}}
{{outlet}}
{{#link-to "index"}}Главная{{/link-to}}
